body{
    text-align: center;
    background-image: url(fall-roman-empire.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 150px;
    color: whitesmoke;
    -webkit-text-stroke: black 2px;
}

h2{
    font-size: 50px;
    -webkit-text-stroke: black 1px;
    color: whitesmoke;
}

button{
    font-size: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;

}